.main{
    margin-top: 30px;
    background-color: #fafafa;
    padding: 30px;
    border-radius: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menuArea {
        .navMenuList {
            display: flex;
            margin-bottom: 0rem;
            li {
                margin-right: 2em;
                &:last-child{
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    color: inherit;
                    font-weight: 500;
                    font-size: 1.1rem;
                }
            }
        }
    }
}